In [2]:
# import the pandas library
import pandas as pd
import numpy as np

In [3]:
# read csv
df = pd.read_csv(r"C:\Users\student\Downloads\Churn_Modelling.csv")

In [4]:
print(df.shape)

(10002, 14)

In [5]:
columns = list(df.columns)
print(columns)

['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited']

In [6]:
print(df.head())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender   Age  \
0          1    15634602  Hargrave          619    France  Female  42.0
1          2    15647311      Hill          608     Spain  Female  41.0
2          3    15619304      Onio          502    France  Female  42.0
3          4    15701354      Boni          699    France  Female  39.0
4          5    15737888  Mitchell          850     Spain  Female  43.0

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1        1.0             1.0
1       1   83807.86              1        0.0             1.0
2       8  159660.80              3        1.0             0.0
3       1       0.00              2        0.0             0.0
4       2  125510.82              1        NaN             1.0

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

In [7]:
print(df.describe())

          RowNumber    CustomerId   CreditScore           Age        Tenure  \
count  10002.000000  1.000200e+04  10002.000000  10001.000000  10002.000000
mean    5001.499600  1.569093e+07    650.555089     38.922311      5.012498
std     2887.472338  7.193177e+04     96.661615     10.487200      2.891973
min        1.000000  1.556570e+07    350.000000     18.000000      0.000000
25%     2501.250000  1.562852e+07    584.000000     32.000000      3.000000
50%     5001.500000  1.569073e+07    652.000000     37.000000      5.000000
75%     7501.750000  1.575323e+07    718.000000     44.000000      7.000000
max    10000.000000  1.581569e+07    850.000000     92.000000     10.000000

             Balance  NumOfProducts     HasCrCard  IsActiveMember  \
count   10002.000000   10002.000000  10001.000000    10001.000000
mean    76491.112875       1.530194      0.705529        0.514949
std     62393.474144       0.581639      0.455827        0.499801
min         0.000000       1.000000      0.000000        0.000000
25%         0.000000       1.000000      0.000000        0.000000
50%     97198.540000       1.000000      1.000000        1.000000
75%    127647.840000       2.000000      1.000000        1.000000
max    250898.090000       4.000000      1.000000        1.000000

       EstimatedSalary        Exited
count     10002.000000  10002.000000
mean     100083.331145      0.203759
std       57508.117802      0.402812
min          11.580000      0.000000
25%       50983.750000      0.000000
50%      100185.240000      0.000000
75%      149383.652500      0.000000
max      199992.480000      1.000000

In [8]:
new_df = df
#new_df.isnull()
#Checking for null values 
print(new_df.isnull().sum()) 
print("Missing values distribution: ")
print(new_df.isnull().mean())

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64
Missing values distribution:
RowNumber          0.0000
CustomerId         0.0000
Surname            0.0000
CreditScore        0.0000
Geography          0.0001
Gender             0.0000
Age                0.0001
Tenure             0.0000
Balance            0.0000
NumOfProducts      0.0000
HasCrCard          0.0001
IsActiveMember     0.0001
EstimatedSalary    0.0000
Exited             0.0000
dtype: float64

In [9]:
# #Checking for duplicates
print(new_df.duplicated().any()) 
print(new_df.duplicated())
print(new_df.shape)

True
0        False
1        False
2        False
3        False
4        False
         ...
9997     False
9998     False
9999      True
10000    False
10001     True
Length: 10002, dtype: bool
(10002, 14)

In [10]:
print("Column datatypes: ")
print(new_df.dtypes)

Column datatypes:
RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
Exited               int64
dtype: object

In [12]:
new_df["Gender"].replace({"Male":"1", "Female":"0"}, inplace = True) 
print(new_df.head())
print(new_df.shape)

   RowNumber  CustomerId   Surname  CreditScore Geography Gender   Age  \
0          1    15634602  Hargrave          619    France      0  42.0
1          2    15647311      Hill          608     Spain      0  41.0
2          3    15619304      Onio          502    France      0  42.0
3          4    15701354      Boni          699    France      0  39.0
4          5    15737888  Mitchell          850     Spain      0  43.0

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1        1.0             1.0
1       1   83807.86              1        0.0             1.0
2       8  159660.80              3        1.0             0.0
3       1       0.00              2        0.0             0.0
4       2  125510.82              1        NaN             1.0

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0
(10002, 14)

In [13]:
print(new_df["Geography"].unique())

['France' 'Spain' nan 'Germany']

In [14]:
new_df['Geography'].replace({'France':'0','Spain':'1','Germany':'2'}, inplace = True)
print(new_df.head())

   RowNumber  CustomerId   Surname  CreditScore Geography Gender   Age  \
0          1    15634602  Hargrave          619         0      0  42.0
1          2    15647311      Hill          608         1      0  41.0
2          3    15619304      Onio          502         0      0  42.0
3          4    15701354      Boni          699         0      0  39.0
4          5    15737888  Mitchell          850         1      0  43.0

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1        1.0             1.0
1       1   83807.86              1        0.0             1.0
2       8  159660.80              3        1.0             0.0
3       1       0.00              2        0.0             0.0
4       2  125510.82              1        NaN             1.0

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

C:\Users\student\AppData\Local\Temp\ipykernel_2232\3635135099.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['Geography'].replace({'France':'0','Spain':'1','Germany':'2'}, inplace = True)

In [15]:
print(new_df.shape) 
print(new_df.head())

(10002, 14)
   RowNumber  CustomerId   Surname  CreditScore Geography Gender   Age  \
0          1    15634602  Hargrave          619         0      0  42.0
1          2    15647311      Hill          608         1      0  41.0
2          3    15619304      Onio          502         0      0  42.0
3          4    15701354      Boni          699         0      0  39.0
4          5    15737888  Mitchell          850         1      0  43.0

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1        1.0             1.0
1       1   83807.86              1        0.0             1.0
2       8  159660.80              3        1.0             0.0
3       1       0.00              2        0.0             0.0
4       2  125510.82              1        NaN             1.0

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0